<h1>Cart#index</h1>
<p>Find me in app/views/cart/index.html.erb</p>

<% for item in @cart do %>
  <%= link_to "Remove", delete_item_path(item[0].id), method: :delete %> <%= item[1] %> <%= item[0].name %> <%= item[0].regular_price %> <br>
<% end %>

<% if current_user %>
  <%= link_to "Checkout", new_user_order_path(current_user) %>
<% else %>
  <%= link_to "Login", login_path %> or
  <%= link_to "Sign up", new_user_path %> to checkout
<% end %>
