<h2>Edit User</h2>

<div class="row">
  <% if flash[:notice] %>
    <div class="alert alert-<%= flash[:type] %>" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<%= form_for @user do |f| %>
<div class="col-md-6">

  <h3>Profile</h1>
  <%= f.label :username, "Username"%>
  <%= f.text_field :username, class: 'form-control' %> <br>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email, class: 'form-control' %> <br>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name, class: 'form-control' %> <br>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name, class: 'form-control' %> <br>
</div>
<div class="col-md-6">
  <h3>Shipping Address</h3>
  <%= f.label :shipping_street, "Address Line 1" %>
  <%= f.text_field :shipping_street, class: 'form-control' %> <br>
  <%= f.label :shipping_street_2, "Address Line 2" %>
  <%= f.text_field :shipping_street_2, class: 'form-control' %> <br>
  <%= f.label :shipping_city, "City" %>
  <%= f.text_field :shipping_city, class: 'form-control' %> <br>
  <%= f.label :shipping_state, "State" %>
  <%= f.text_field :shipping_state, class: 'form-control' %> <br>
  <%= f.label :shipping_zip_code, "Zip Code" %>
  <%= f.text_field :shipping_zip_code, class: 'form-control' %> <br>
</div>
  <%= f.submit "Save", class: 'btn btn-primary' %>
<% end %>
