<h2 class="title">Users</h2>

<div class="row">
  <% if flash[:notice] %>
    <div class="alert alert-<%= flash[:type] %>" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <p class="text-center">
    <%= link_to "New User", new_user_path %> /
    <%= link_to "Managers", users_path + "?role=1" %> /
    <%= link_to "Suppliers", users_path + "?role=2" %> /
    <%= link_to "Customers", users_path + "?role=1" %>
  </p>
</div>

<% for user in @users do %>
  <div class="col-sm-4">
    <div class="user pad-20 text-center">
      <h3><%= user.username %></h3>
      <% if user.role == 3 %>
        <span>Store Manager</span>
      <% elsif user.role == 2 %>
        <span>Supplier</span>
      <% else %>
        <span>Customer</span>
      <% end %> <br />
      <span><%= user.first_name %> <%= user.last_name %></span><br>
      <span><%= user.email %></span> <br>
      <span><%= link_to "View", user %></span> /
      <span><%= link_to "Edit", edit_user_path(user) %></span>
    </div>
  </div>
<% end %>
