<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h4><%= @user.username %></h4>
<ul>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></li>
  <li><%= @user.role %></li>
</ul>

<% if @user.role == 2 %>
  <% for product in @user.products %>
    <%= product.name %> <br>
  <% end %>
<% end %>
