<h2 class="title"><%= @user.username %></h2>
<div class="col-md-4">
  <h3>Profile <small><%= link_to "Edit", edit_user_path(@user) %></small></h3>
  <span>Name: <strong><%= @user.first_name + " " + @user.last_name %></strong></span> <br>
  <span>Email: <strong><%= @user.email %></strong></span> <br>
  <% if @user.role == 3 %>
    <span>Role: <strong>Store Manager</strong> </span>
  <% elsif @user.role == 2 %>
    <span>Role: <strong>Supplier</strong> </span>
  <% else %>
    <span>Role: <strong>Customer</strong> </span>
  <% end %> <br>

</div>
<div class="col-md-8">
  <h3>Orders</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Order #
        </th>
        <th>
          Date
        </th>
        <th>
          Payment
        </th>
        <th>
          Shipment
        </th>
        <th>
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <% for order in @user.orders do %>
        <tr>
          <td>
            <%= link_to order.id, user_order_path(@user, order) %>
          </td>
          <td>
            <%= order.created_at.to_date %>
          </td>
          <td>
            <%= order.payment_status.capitalize %>
          </td>
          <td>
            <%= order.shipment_status.capitalize %>
          </td>
          <% sum = 0 %>
          <% for item in order.order_products do %>
            <% sum += item.selling_price %>
          <% end %>
          <td>
            <%= number_to_currency(sum) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%# if @user.role == 2 %>
  <%# for product in @user.products %>
    <%#= product.name %> <br>
  <%# end %>
<%# end %>
