<h2 class="title">Suppliers</h2>

<% for supplier in @suppliers do %>
  <div class="col-sm-4">
    <div class="user pad-20 text-center">
      <h3><%= supplier.username %></h3>
      <span><%= supplier.first_name %> <%= supplier.last_name %></span><br>
      <span><%= supplier.email %></span> <br>
      <span><%= link_to "View", supplier %></span>
    </div>
  </div>
<% end %>
