<h1>StoreManagers#edit</h1>
<p>Find me in app/views/store_managers/edit.html.erb</p>

<%= form_for @sm do |f| %>
  <%= f.label :username, "Username:" %>
  <%= f.text_field :username %> <br>
  <%= f.label :email, "E-mail:" %>
  <%= f.text_field :email %> <br>
  <%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name %> <br>
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %> <br>
  <%= f.submit "Save" %>
<% end %>
