<h1>Customers#edit</h1>
<p>Find me in app/views/customers/edit.html.erb</p>

<%= form_for @customer do |f| %>
  <%= f.label :username, "Username" %>
  <%= f.text_field :username %> <br>
  <%= f.label :email, "E-mail" %>
  <%= f.text_field :email %> <br>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %> <br>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %> <br>

  <%= f.label :shipping_street, "Address Line 1" %>
  <%= f.text_field :shipping_street %> <br>
  <%= f.label :shipping_street_2, "Address Line 2" %>
  <%= f.text_field :shipping_street_2 %> <br>
  <%= f.label :shipping_city, "City" %>
  <%= f.text_field :shipping_city %> <br>
  <%= f.label :shipping_state, "State" %>
  <%= f.text_field :shipping_state %> <br>
  <%= f.label :shipping_zip_code, "Zip Code" %>
  <%= f.text_field :shipping_zip_code %> <br>

  <%= f.submit "Save" %>
<% end %>
