<h2>Orders</h2>

<div class="row">
  <% if flash[:notice] %>
    <div class="alert alert-<%= flash[:type] %>" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<% if current_user.role == 3 %>
  <%= link_to "All", user_orders_path(current_user_id) %> /
  <%= link_to "Complete", user_orders_path(current_user_id) + "?shipment_status=complete" %> /
  <%= link_to "Pending", user_orders_path(current_user_id) + "?shipment_status=pending" %> /
  <%= link_to "Inventory Orders", user_orders_path(current_user_id) + "?user=admin" %>
  <br>

<% elsif current_user.role == 2%>
  <%= link_to "Store Orders", user_orders_path(current_user_id) + "?from=admin" %> /
  <%= link_to "My Orders", user_orders_path(current_user_id) %>
  <br>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Date</th>
      <th>User</th>
      <th>Shipment Status</th>
      <th>Payment Status</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% for order in @orders do %>
    <tr>
      <td><%= link_to order.id, user_order_path(params[:user_id], order.id) %></td>
      <td><%= order.created_at.to_date %></td>
      <td><%= order.user.username %></td>
      <td><%= order.shipment_status.capitalize %></td>
      <td><%= order.payment_status.capitalize %></td>
      <% sum = 0 %>
      <% for product in order.order_products %>
        <% sum += product.selling_price * product.quantity %>
      <% end %>
      <td><%= number_to_currency sum %></td>
    </tr>
    <% end %>
  </tbody>
</table>
