<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% if current_user.role == 3 %>
  <ul>
    <li> <%= link_to "All", user_orders_path(current_user_id) %> </li>
    <li> <%= link_to "Complete", user_orders_path(current_user_id) + "?shipment_status=complete" %> </li>
    <li> <%= link_to "Pending", user_orders_path(current_user_id) + "?shipment_status=pending" %> </li>
    <li> <%= link_to "My Orders", user_orders_path(current_user_id) + "?user=admin" %> </li>
  </ul>

<% elsif current_user.role == 2%>
<ul>
  <li> <%= link_to "Store Orders", user_orders_path(current_user_id) + "?from=admin" %> </li>
  <li> <%= link_to "My Orders", user_orders_path(current_user_id) %> </li>
</ul>
<% end %>

<% for order in @orders do %>
  <%= link_to order.id, user_order_path(params[:user_id], order.id) %> /
  <%= order.user.username %> /
  <%= order.created_at.month %>/<%= order.created_at.day %>/<%= order.created_at.year %> /
  <%= order.shipment_status %> / <%= order.payment_status %>
<%# for product in @order.products do %>
  <%#= product.name %> <br>
<%# end %>
<% end %>
