<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<h2>Order #<%= @order.id %> <br></h2>
<%= time_ago_in_words(@order.created_at) %> ago <br>
<p> Payment status: <%= @order.payment_status %> </p>
<p> Shipping status: <%= @order.shipment_status %> </p>

<h2>Products</h2>
<% for op in @order_products do %>
  <%= op.quantity %>
  <%= op.product.name %>
  <%= op.selling_price %> <br>
<% end %>

<h2>Shipping Address</h2>

<%= @order.user.username %><br>
<%= @order.shipping_street %><br>
<%= @order.shipping_street_2 %><br>
<%= @order.shipping_city %><br>
<%= @order.shipping_state %><br>
<%= @order.shipping_zip_code %><br>

<% if current_user.role > 1 && ((@order.user.role != 3 )^ (@order.products.first.user == current_user)) && @order.shipment_status == 'pending' %>
  <%= link_to "Complete Shipment", ship_item_path(@order), method: :post %>
<% end %>

<% if current_user.role == 3 && @order.payment_status == 'pending' && @order.shipment_status == 'complete'%>
  <%= link_to "Complete Payment", pay_item_path(@order), method: :post %>
<% end %>
