<h2 class="title">Order #<%= @order.id %> <br></h2>

<div class="row">
  <% if flash[:notice] %>
    <div class="alert alert-<%= flash[:type] %>" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div class="col-md-4">
  <h3>Details</h3>
  <p>Date: <strong><%= @order.created_at.to_date %></strong></p>
  <p> Payment status: <strong><%= @order.payment_status.capitalize %></strong><br>
    Shipping status: <strong><%= @order.shipment_status.capitalize %></strong> </p>

  <h3>Shipping Address</h3>

  <p><%= @order.user.first_name + " " + @order.user.last_name %></p>
  <p>
    <%= @order.shipping_street %><br>
    <%= @order.shipping_street_2 %><br>
    <%= @order.shipping_city %><br>
    <%= @order.shipping_state %><br>
    <%= @order.shipping_zip_code %><br>
  </p>
</div>
<div class="col-md-8">
  <h3>Products</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Qty</th>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% sum = 0 %>
      <% for op in @order_products do %>
        <tr>
          <td><%= op.quantity %></td>
          <td><%= op.product.name %></td>
          <% sum += op.selling_price %>
          <td><%= number_to_currency(op.selling_price) %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>TOTAL</strong></td>
        <td></td>
        <td> <strong><%= number_to_currency(sum) %></strong> </td>
      </tr>
    </tbody>
  </table>
</div>



<% if current_user.role > 1 && ((@order.user.role != 3 )^ (@order.products.first.user == current_user)) && @order.shipment_status == 'pending' %>
  <%= link_to "Complete Shipment", ship_item_path(@order), method: :post, class: 'btn btn-primary' %>
<% end %>

<% if current_user.role == 3 && @order.payment_status == 'pending' && @order.shipment_status == 'complete'%>
  <%= link_to "Complete Payment", pay_item_path(@order), method: :post, class: 'btn btn-primary' %>
<% end %>
