<h2 class="title">Products</h2>

<% if flash[:notice] %>
  <div class="alert alert-<%= flash[:type] %>" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<% for product in @products do %>
<div class="col-sm-4">
  <div class="user pad-20 text-center">
    <%= link_to product_path(product) do %>
      <%= image_tag product.photo.url(:medium), class: 'product-image' %>
      <h4> <%= product.name %> </h4>
    <% end %>
    <% if current_user && admin %>
      <%= link_to "View", product %> / <%= link_to "Edit", edit_product_path(product) %> <br>
    <% end %>
    <p> <%= number_to_currency(product.regular_price) %> </p>
    <%= link_to "Add To Cart", add_item_path(product), method: :post, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
