<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h4> <%= @product.name %> </h4>
<ul>
  <li> <%= @product.sku %> </li>
  <li> <%= @product.description %> </li>
  <li> <%= @product.regular_price %> </li>
  <li> <%= @product.user.username %> </li>
  <li> <%= link_to "Add To Cart", add_item_path(@product), method: :post %> </li>
</ul>

<h5>Reviews </h5>

<%= form_for [@product, @product.reviews.build] do |f| %>
  <%= f.label :stars %>
  <%= f.text_field :stars %><br>
  <%= f.label :content %>
  <%= f.text_field :content %><br>
  <%= f.submit %>
<% end %>

<% for review in @product.reviews do %>
  <% if review.user %>
    <ul>
      <li> <%= review.user.username %> </li>
      <li> <%= review.stars %> </li>
      <li> <%= review.content %> </li>
    </ul>
  <% end %>
<% end %>
