<h2 class="title"> <%= @product.name %> </h2>

<% if flash[:notice] %>
  <div class="alert alert-<%= flash[:type] %>" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-7">
    <%= image_tag @product.photo.url, class: 'product-image' %>
  </div>

  <div class="col-md-5">
    <div class="">
      <h3><%= @product.name %></h3>
      <p><%= number_to_currency(@product.regular_price) %></p>
      <p><%= @product.sku %></p>
      <p><%= @product.description %></p>
      <div class="space40"></div>
      <p><%= link_to "Add To Cart", add_item_path(@product), method: :post, class: 'btn btn-primary' %></p>
    </div>
    <div class="space20"></div>
    <hr>
    <div class="space20"></div>
    <div class="">
      <h4>Reviews </h4>

      <%= form_for [@product, @product.reviews.build] do |f| %>
        <div class="col-xs-2" style="padding-left: 0">
          <%= f.label :stars %>
          <%= f.number_field :stars, min: 1, max: 5, class: 'form-control'%> <br>
        </div>
        <div class="col-xs-10">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control'%> <br>
        </div>
        <div class="col-xs-12 text-right">
          <%= f.submit class: 'btn btn-primary' %>
        </div>

      <% end %>
      <div class="space40"></div>
      <% for review in @product.reviews do %>
        <% if review.user %>
          <div class="">
            <p><strong><%= review.user.username %></strong> posted <%= time_ago_in_words(review.created_at) %> ago</p>
            <p><% review.stars.times do %>
              <i class="fa fa-star"></i>
              <% end %>
            </p>
            <p><%= review.content %></p>
          </div>
          <hr>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">

  </div>
</div>
<!-- </div> -->
